<!DOCTYPE html>
<html>
    <body>
        <form method="post" action="/predict">

            <input type="number" name="preg" placeholder="preganancy" required="required">
            <input type="number" name="plasma" placeholder="plasma" required="required">
            <input type="number" name="pres" placeholder="pressure" required="required">
            <input type="number" name="skin" placeholder="skin" required="required">
            <input type="number" name="test" placeholder="test" required="required">
            <input type="number" name="mass" placeholder="mass" required="required">
            <input type="number" name="pedi" placeholder="pedi" required="required">
            <input type="number" name="age" placeholder="age" required="required">







            <button>Submit</button>





        </form>



    </body>





</html>
    